<div class="video_container">
    <h1><span>Rent unique places to stay from local hosts in 190+ countries.</span><br>Welcome <%=current_user.name if current_user != nil%></h1>
          <video autoplay loop="loop" preload="auto" class="photo">
             <source src="https://a0.muscache.com/airbnb/static/P1-background-vid-compressed.mp4" type='video/mp4'>
               <source src="https://a0.muscache.com/airbnb/static/P1-background-vid-compressed.webm" type='video/webm'>
          </video>
</div>



<div class=listing_header_container>
	<h1>All listings</br></h1>

</div>
	


<div class="container-fluid">
	<div id="cardDesign-container">
		<%@listings.each do |listing|%>

		<div class="cardDesign col-md-3">
			<div class="img-uppercard">
				<%if listing.avatars.present?%>
				<a href="<%= listing_path(listing) %>"><%= image_tag (listing.avatars[0].square.url) %></a>
			</div>	
			</br>
			<div class="img-lowercard">
				<ol class="listing-title"><b><%=listing.title%></b></ol></br>
				<ol>RM <%=listing.rental_price%></ol></br>
				<ol>posted by <%=listing.user.name%></ol></br>
				<ol>
					<div class="pull-right">
						<a href="<%= listing_path(listing) %>"><button type="button" class="btn btn-success">Book Now</button></a>
					</div>
				</ol>
			</div>


		</div>

		<%end%>
	</div>
</div>


<div>
    <% (1..@total_pages).each do |page| %>
        page <%= link_to page, controller: "listings", action: "index", page: page %>&nbsp;
    <% end %>
</div>