<div style="color:lightgrey"><h1>Listing Show page</h1></div>

<div>
<span><h3><%=@listing.title%><h3></span>
<span><h5>RM <%=@listing.rental_price%><h5></span>
<span><img class="img-responsive" src=<%=@listing.photo%>></span>
</div>

<%= link_to "Home", listings_path, method: "get"%>

<%if @listing.user_id == current_user.id%>

<%= link_to "Delete", listing_path(@listing.id), method: "DELETE", data: {confirm:"Are you sure?"}%>
<%end%>

