<!DOCTYPE html>
<html>
<head>
  <title>TestApp</title>
   <%= include_gon %>
    <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Montserrat">


  <!-- jQuery library -->
<!--   <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
 -->
  <!-- Latest compiled JavaScript -->

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<!--   <script src="https://code.jquery.com/jquery-3.1.0.min.js" integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s=" crossorigin="anonymous"></script>
 -->

  <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.0/themes/smoothness/jquery-ui.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.0/jquery-ui.min.js"></script>

  <script src="https://js.braintreegateway.com/v2/braintree.js"></script>

</head>
<body>


<div class="navbar container-fluid" style="margin-bottom:0px;">
  <div class="navbar navbar-default navbar-fixed-top"> 
      <div class="navbar-inner">

        <ul class="nav navbar-nav navbar-left">
          <li>
              <a href="<%= root_path %>"><%=image_tag 'http://logok.org/wp-content/uploads/2014/07/airbnb-logo-belo-880x628.png', style:"margin-top:-17px; height:68px; width:96px;"%></a>
          </li>
          
          <li>
            <div class="stage">
              <div class="cell"> 
                <div class="searchbar"> 
                  <form class="new_listing" id="new_listing" action="<%= search_path %>" accept-charset="UTF-8" method="get">
                    <input type="text" name="term" class="btn-extended" id="term" placeholder="Where do you wanna go?">
                  </form>
                  <div class="btn-search">
                  </div>  
                </div>
              </div> <!-- .cell -->
            </div><!-- .stage -->
          </li>
        </ul>


        <ul class="nav-rightbar">
          <% if signed_in? %>
<!--           <li>Signed in as: <%= current_user.email %><li> -->
           
            <li class="dropdown">
              <a class="dropdown-toggle" href="/users/<%=current_user.id%>">My Profile
                  <% if !current_user.avatars.empty? %>

                    <span><%= image_tag (current_user.avatars[0].thumb.url), class:"profile-thumbnail"%></span>
                  <%end%>
              </a>

              <ul class="dropdown-menu">
                <li><%=link_to 'Edit', edit_user_path(current_user.id)%></li>
                <li><a href="#">Account Settings</a></li>
                <li><%= link_to 'Log Out', sign_out_path, method: :delete %></li> 
              </ul>

            </li>
            <li><%= link_to "Become a Host", new_listing_path, method: "get"%></li>
            <li class="circle"><a href="<%= root_path %>">Home</a></li>

          <%else%>
          
          <li><%= link_to "Sign in with Facebook", "/auth/facebook", id: "sign_in"%></li>
          <li><a href="/sign_in"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
          
          <%end%>
        </ul>

      
      </div>
    
    
  </div>
   
</div>

    <div id="flash">
      <% flash.each do |key, value| %>
        <div class="flash <%= key %>"><%= value %></div>
      <% end %>
    </div>

<%= yield %>

</body>
</html>
