<!DOCTYPE html>
<html>
<head>
  <title>TestApp</title>

    <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

  <!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

  <!-- Latest compiled JavaScript -->
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Montserrat">

  <div>

    <div class="container-fluid">
    <nav class="navbar navbar">

        <ul class="nav nav-pills navbar-right">  
          <% if signed_in? %>
<!--           <li>Signed in as: <%= current_user.email %><li> -->
          <li class="active"><a href="/">Home</a></li>
          <li><%= link_to 'Sign out', sign_out_path, method: :delete %></li>
          <li><%= link_to "Become a Host", listings_path, method: "get"%></li>
          <li><%= link_to "My profile", user_path(current_user.id), method: "get"%></li>
          <%else%>
          
          <li><%= link_to "Sign in with Facebook", "/auth/facebook", id: "sign_in"%></li>
          <li><li><a href="/sign_in"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
          <%end%>
        </ul>

      </div>
    </nav>
    </div>
  </div>

    <div id="flash">
      <% flash.each do |key, value| %>
        <div class="flash <%= key %>"><%= value %></div>
      <% end %>
    </div>

<%= yield %>

</body>
</html>
